<!doctype html>
<html lang="en">

<head>
   <title>Title</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
      .fieldName{
         font-weight: bold;
         display: inline-block;
         outline: 2px solid fuchsia;
      }
      .fieldValue{
         font-weight: bold;
         display: inline-block;
      }
   </style>
</head>
<body>
   <div *ngIf="pet">
      <h6>Details about {{ pet.name }}</h6>
      <p class="fieldName">Pet Type:</p>
      <p class="fieldValue">{{pet.type}}</p>
      <p class="fieldName">Description:</p>
      <p class="fieldValue">{{pet.desc}}</p>
      <p class="fieldName">Skills:</p>
      <ul>
         <li *ngIf="pet.skillOne">{{ pet.skillOne }}</li>
         <li *ngIf="pet.skillTwo">{{ pet.skillTwo }}</li>
         <li *ngIf="pet.skillThree">{{ pet.skillThree }}</li>
      </ul>
      <p class="fieldName">Likes</p>
      <p class="fieldValue">{{pet.likes}}</p>
   </div>

   <button (click)=addLike(pet._id) [disabled]="liked">Like This Pet</button>
   <button (click)=removePet(pet._id)>Adopt This Pet!</button>
</body>

</html>